* {
	font-family: 'Passion One', cursive;
}

body{
	background-color: #444;
}

.top-container{
	height: 60px;
	/* margin-bottom: 60px; */
}

.container{
	width: 1206px;
	margin: auto;
	overflow: hidden;
	padding: 0px;
}

.row{
	width: 1208px;
	margin: auto;
	padding: 0 -2px;
	overflow: hidden;
	transition: all 1s;
}

#app-title{
	font-family: 'Leckerli One', cursive;
	margin: 10px auto;
}

#header{
	position: fixed;
	width: 1206px;
	z-index: 5;
	height: 60px;
	margin: 0 0 60px 0;
	color: #fff;
	background-color: #000;
	-webkit-box-shadow: -2px 29px 30px -2px rgba(0,0,0,0.75);
	-moz-box-shadow: -2px 29px 30px -2px rgba(0,0,0,0.75);
	box-shadow: -2px 29px 30px -2px rgba(0,0,0,0.75);
}

#left-header{
	float: left;
	height: 30px;
}

#right-header{
	float: right;
	height: 50px;
	margin-top: 15px;
}

.main-menu{
	overflow-y: scroll;
	background-color: #333;
	color: #fff;
	position: fixed;
	z-index: 2;
	height: 100vh;
	width: 250px;
	margin: 0 2px 0 -250px;
	padding: 20px 20px 0;
	opacity: 0;
	transition: all 1s;
}

.active{
	display: block;
	transform: translateX(250px);
	opacity: 1;
}

.main-menu-tab{
	position: fixed;
	background-color: #333;
	z-index: 3;
	border: 1px solid #555;
	border-radius: 0 5px 5px 0;
	font-family: arial;
	font-size: 30px;
	font-weight: 100;
	color: #888;
	width: 25px;
	height: 60px;
	word-spacing: 0;
	letter-spacing: -2px;
	line-height: 0px;
	padding: 30px 0 35px;
	margin: 40vh 0px 40vh 0px;
	transition: all 1s;
}

.main-menu-tab:hover{
	background-color: #999;
	cursor: pointer;
}

.main-menu p:hover{
	background-color: #337ab7;
	cursor: pointer;
	color: #fff;
	border-radius: 5px;
}

.main-menu a{
	color: #fff;
}

.main-menu a:hover{
	color: #fff;
}

.main-menu::-webkit-scrollbar {
    width: 8px;
    border-radius: 4px;
}
 
.main-menu::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
.main-menu::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  width: 4px;
  outline: 1px solid slategrey;
  border-radius: 4px;
}



.movie-grid{
	margin: 60px;
	height: 100vh;
	width: 100%;
}

.movie-item{
	padding: 0;
	width: 300px;
	height: 450px;
	margin: 2px 2px 2px 0px;
	background-size: cover;
	overflow: hidden;
	position: relative;
	z-index: 1;
	
}

.movie-item{
	-webkit-animation: popin 400ms;
    -moz-animation: popin 400ms;
    -ms-animation: popin 400ms;
    animation: popin 400ms;
}

@keyframes popin {
    from {transform: scale(0);}
    to   {transform: scale(1);}
}

@-moz-keyframes popin {
    from { height: 0; width: 0; }
    to   { height: 450px; width: 300px; }
}

@-webkit-keyframes popin {
    from { height: 0; width: 0; }
    to   { height: 450px; width: 300px; }
}

@-ms-keyframes popin {
    from { height: 0; width: 0; }
    to   { height: 450px; width: 300px; }
}

.overlay{  
	position: absolute;
	margin-top: -450px;
	background:rgba(255,255,255,.75);
   	text-align:center;
   	height: 100vh;
   	width: 300px;
   	opacity:0;
   -webkit-transition: opacity .5s ease;
   z-index: 2;
}

.movie-item:hover .overlay{
	opacity: .75;
}

.movie-item:hover .overlay .movie-title{
	opacity: 1;
}

.movie-title{
	color: #000;
	margin-top: 90px;
	font-weight: 500;
}

.movie-item:hover .overlay .movie-rating{
	opacity: 1;
	margin: 200px auto 20px 80px;
}

.movie-modal .modal-dialog{
	width: 1209px;
	height: 100%;
	margin: 60px auto 0px 14%;
	background-color: transparent;
	border-radius: 0px;
	color: #fff;
	opacity: 1;
}

.modal-content, .modal-body{
	height: 100vh;
	border-radius: 0px;
	background-color: rgba(0, 0, 0,.4);
	background-image: url('');
	color: #fff;
}
.modal-body span, .modal-body button{
	color: #fff;
	font-size: 26px;
}

.modal-body #movie-poster{
	height: 600px;
	width: ;
	margin: -30px 20px 20px -10px;
}

#movie-poster img{
	height: 100%;
	margin-left: -10px;
	border: 4px solid #333;
}

#main-content{
	height: 100vh;
	position: absolute;
	/* transition: all 1s; */
}

#main-content img{
	position: absolute;
	margin: -20px 0 0 -16px;
	width: 1208px;
	opacity: 0;
    -webkit-animation: fadein 10s;
    -moz-animation: fadein 10s;
    -ms-animation: fadein 10s;
    animation: fadein 10s;
}

@keyframes fadein {
    0% { opacity: 0; }
    50% { opacity: .6; }
    100% { opacity: 0; }
}

@-moz-keyframes fadein {
    0% { opacity: 0; }
    50% { opacity: .6; }
    100%  { opacity: 0; }
}

@-webkit-keyframes fadein {
    0% { opacity: 0; }
    50% { opacity: .6; }
    100%  { opacity: 0; }
}

@-ms-keyframes fadein {
    0% { opacity: 0; }
    50% { opacity: .6; }
    100%  { opacity: 0; }
}

.modal-movie-title{
	color: #fff;
	margin: 200px 20px 60px 100px;
}

.modal-movie-title #title-text{
	font-size: 40px;
}

.modal-movie-title #desc{
	font-size: 20px;
	font-family: helvetica;
	font-weight: bold;
}

.modal-movie-title span{
	font-size: 18px;
	color: #eaeaea;
}

.modal-movie-title #release-date{
	font-size: 16px;
}

#web-site{
	font-size: 16px;
	margin-left: 110px;
}

#web-site a{
	color: #fff;
}

#trailer{
	float: left;
}

#movie-rating{
	float: right;
	margin-right: 120px;
	font-size: 18px;
}

#heart{
	font-weight: bold;
}

#heart:hover{
	color: red;
}

.fa-heart-o{
	color: #fff;
}

.fa-heart{
	color: #fff;
}

.fa-heart:hover{
	color: red;
}

#stars{
	width: 530px;
	font-size: 25px;
	cursor: default;
}

.star-ratings{
	unicode-bidi: bidi-override;
	font-size: 25px;
	font-weight: bold;
	height: 30px;
	width: 117px;
	position: relative;
	padding: 0;
	margin-bottom: -4px;
	display: inline-block;
	/* overflow: hidden; */
} 

.star-ratings-top{
    padding: 0;
    position: absolute;
    z-index: 2;
    display: block;
    top: 0;
    left: 0;
    overflow: hidden;
    
}

.star-ratings-top span{
	color: gold;
}

.star-ratings-bottom{
	position: absolute;
    padding: 0;
    display: block;
    z-index: 0;
}

#tickets-button{
	margin-left: -30px;
}

.tooltip.top .tooltip-arrow {
  	bottom: 0;
  	left: 50%;
  	margin-left: 60px;
  	border-top-color: #333;
  	border-width: 5px 5px 0;
}
.tooltip-inner {
	background-color: #333;
  	margin-right: -130px;
  	border: solid 1px #333;
}